.header {
  position: relative;

  &-image {
    max-width: 100%;
  }
  &-content {
    position: absolute;
    bottom: 2rem;
    padding: 2rem;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &-title {
    font-size: 2.5em;
    font-family: Georgia, serif;
  }
}
